<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : EarthyBlue 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140215

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Wan For All I.T. Consulting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Wan For All I.T. Consulting</a></h1>			
			<div id="menu">
				<ul>
					<%= render 'application/menu' %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="welcome" class="container">
		<div id="content">    
		  <%= yield %> 
		</div>
		<%= image_tag("banner.jpg", class: "image image-full", alt: "banner") %>
	</div>
</div>
<div class="wrapper footer">    
	<div id="three-column" class="container">
		<div>Cloud Hosting provided by</div>
		<div class="tbox">
			<div class="title">
				<a href="https://dnsimple.com/" class="button">DNSimple</a>
			</div>
			<p>Provides DNS records and SSL certificates for $5/month</p>			 
        </div>
		<div class="tbox">
			<div class="title">
				<a href="https://www.vultr.com/" class="button">Vultr</a>
			</div>
			<p>Provides virtual linux boxes on the cloud with docker pre-installed for $5/month</p>			 
        </div>
		<div class="tbox">
			<div class="title">
				<a href="https://github.com/wanfamilia/website" class="button">Github</a>
			</div>
			<p>Stores source code for this website on the cloud</p>			
        </div>
	</div>
	<div id="portfolio" class="container">
	    <div class="box header">Content Powered By</div>
		<div class="column1">
			<div class="box">
				<h3><a href="https://templated.co/earthyblue" class="button button-small">Templated</a></h3>
                <p>This is <strong>EarthyBlue</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. 
                This free template is released under the 
                <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you&apos;re pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
            </div>
		</div>
		<div class="column2">
			<div class="box">
				<h3><a href="https://www.docker.com/" class="button button-small">Docker</a></h3>
				<p>Provides quick and easy installation and deployment for linux compatible software</p>				 
            </div>
		</div>
		<div class="column3">
			<div class="box">
				<h3><a href="https://github.com/bitnami/bitnami-docker-rails/blob/master/5/debian-9/docker-compose.yml" class="button button-small">Ruby on Rails</a></h3>
				<p>Manages dynamic content (docker image from bitnami)</p>
            </div>
		</div>
		<div class="column4">
			<div class="box">
				<h3><a href="https://github.com/bitnami/bitnami-docker-nginx/blob/master/docker-compose.yml" class="button button-small">Nginx</a></h3>
				<p>Supports HTTPS wrappers for any webapp (docker image from bitnami)</p>
            </div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
		<ul class="contact">
			<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
			<li><a href="#" class="icon icon-facebook"><span></span></a></li>
			<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
			<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
			<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
		</ul>
</div>
</body>
</html>
